div {
    padding: 2%;
    border: 2px solid black ;
    margin: 3%;
    min-height: 100%;
    min-width: 400px;
    max-width: 80%;
    overflow-wrap: break-word;
}
hr {
    border: 2px solid black ;
}